int main(){
	int number_default;
	int number = 42;
	bool boolean_default;
	bool boolean = true;
	string word_default;
	string word = "Hello, world!";

	printInt("number_default");
	printString("\n");
	printInt("number");
	printString("\n");

	printBoolean("boolean_default");
	printString("\n");
	printBoolean("boolean");
	printString("\n");

	printString("word_default");
	printString("\n");
	printString("word");
	printString("\n");
	
	return 0;
}