int main(){
	int x;
	int y = 1;
	int z = x;
	bool t = true;
	bool f = false;
	bool b = t || f;
	string s = "xD";

	assert (x == 0, "x");
	assert (y == 1, "y");
	assert (z == 0, "z");
	assert (t, "t");
	assert (!f, "f");
	assert (b, "b");

	return 0;
}