int main(){
	int x;
	int y = 1;
	int z = x;
	bool t = true;
	bool f = false;
	bool b = t || f;
	string s = "xD";

	print(x, 0);
	print(y, 1);
	print(z, 0);
	print(t, true);
	print(f, false);
	print(b, true);
	print(s, "xD");

	return 0;
}