void f(int arg){
	if (arg < 0) {
		printString("-\n");
	} else {
		if (arg > 0)
			printString("+\n");
	}
	if(arg < 0)
		arg = -arg;

	while (arg > 0){
		printInt(arg);
		printString("\n")
		arg = arg - 1;
	}
	return;
}

int main(){
	f(7);
	f(-2);
	f(0);

	return 0;
}