void fact(int n, int &x){
	if (n > 1){
		x = x * n;
		fact(n - 1, x);
	}
	return;
}

int fib(int n){
	int retval;
	if (n <= 1){
		retval = n;
	} else {
		retval = fib(n - 1) + fib(n - 2);
	}

	return retval;
}

int main(){
	int fac = 1;

	printInt(fib(13));

	fact(6, fac);
	printInt(fac);

	return 0;
}